

.auto-style1 {
	font-family: Ebrima sans-serif;
	font-size: small;
	text-decoration: none;
}
.auto-style2 {
	color: #CDA551;
	text-decoration: none;
}
a {
	color: #CDA551;
	text-decoration: none;
}
a:visited {
	color: #CDA551;
}
a:active {
	color: #CDA551;
}
a:hover {
	color: #CDA551;
}